// 边框色
$borderColor: #ebf0f5; // 相对较浅，常用于容器边框色
$borderWeightColor: #dde4eb; // 相对较深，常用于输入框边框色
$inputBorderColor: #d1d9e1;

// 字体色
$fontLightColor: #c4c6cd;
$fontColor: #7b7d8a;
$fontWeightColor: #737987;
$fontBoldColor: #333948;
$fontLigtherColor: #c3cdd7;
$fontDarkColor: #63656f;
$fontLightGray: #63656e;

// 蓝色
$darkerBlue: #0484ff;
$tinyBlue: #9ac5ff;

// 主体 icon 颜色
$iconPrimaryColor: #3c96ff;
$primaryColor: #3c96ff;

// 成功 icon 颜色
$iconSuccessColor: #34d97b;
$successColor: #34d97b;

// 失败 icon 颜色
$iconFailColor: #ff5656;
$failColor: #ff5656;
$dangerColor: #ff5656;

// warning icon 颜色
$iconWarningColor: #ffb400;
$warningColor: #ffb400;

// 淡色
$primaryLightColor: #ebf4ff;
$lightColor: #dcdee6;
$borderLightColor: #f0f1f5;
$buttonLightColor: #e0e0e0;

// 适配宽度
$mediaWidth: 1500px;

$aHoverColor: #57a3f1;

// 背景hover
$bgHoverColor: #fafbfd;

// pipline_detail
$loadingColor: #459fff;
$cancelColor: #f6b026;
$lineColor: #c3cdd7;

$white: #ffffff;
$lightBlue: #e0ecff;
$fontDarkBlack: #222222;
$fontBlack: #333C48;
$fontLightBlack: #4a4a4a;
$darkWhite: #c5c7d1;
$lightGray: #dde4eb;
$navGray: #b5c0d5;
$fontGray: #979ba5;
$lighterBlue: #7ab5fb;
$starYellow: #ffca2b;
$darkBlue: #3a84ff;
$gray: #000000;
$lighterGray: #e5e5e5;
$laberColor: #3e97ff;
$laberBackColor: #ecf3ff;
$lightBorder: #dcdee5;
$grayBlack: #666666;
$grayBackGroundColor: #f0f2f5;

.spin-icon {
    animation: loading .8s linear infinite;
}
@keyframes loading {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@mixin text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// 头部导航高度
$topHeader: 60px;

// test页面背景色
$testBgColor: #fafbfd;

// 表格nav
$tableNavHeight: 43px;

// overflow tab宽度
$overflowWidth: 6px;

// tab高度
$tabHeight: 50px;

// tab margin-bottom
$tabMarginBottom: 10px;