@charset 'utf-8';
.tag {
    display: inline-block;
    line-height: 28px;
    height: 28px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #dcdee5;
    user-select: none;
}